/* Reset styles */
@import url("reset.css");
/* Connect fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap");
/* Styles */
body {
  font-family: "Plus Jakarta Sans";
  color: #5e6282;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* components */
